<table cellpadding="3" cellspacing="3" width="100%">
<tr>
    <td><h2>Visual Legend</h2></td>
    <td align='RIGHT'><a href="filter">Filter Edges</a></td>
    </tr>
</table>

<table cellpadding="3" cellspacing="3">
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER>
        <h3>Edge Type</h3>
    </td>
    <td VALIGN=CENTER>
        <h3>Color</h3>
    </td>
</tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">IN_SAME_COMPONENT</span>
    </td>
    <td BGCOLOR="#ffff00" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
    <span class='description'>
    Edge is drawn if the first entity is a component of the second entity, which is a complex.
    This interaction is transient in the sense that A COMPONENT_OF B and B COMPONENT_OF
    C implies A COMPONENT_OF C. This interaction is undirected.
    </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">COMPONENT_OF</span>
    </td>
    <td BGCOLOR="#ffc000" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
    <span class='description'>
    Edge is drawn if two entities belong to at least one molecular complex.
    This does not necessarily mean they interact directly. In a complex with n molecules, this rule
    will create a clique composed of n(n-1)/2 interactions. This
    interaction is directed.
    </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_DEPENDENT_ANTI</span>
    </td>
    <td BGCOLOR="#ff0000" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Edge is drawn if the first and second entities have control over
        the same process, their control is dependent, i.e. one of them have effect over control
        of the other one, and their effect is in different directions (one of them activates,
        the other inhibits.  This interaction is undirected."
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_DEPENDENT_SIMILAR</span>
    </td>
    <td BGCOLOR="#00b050" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
       Edge is drawn if the first and second entities have control over the
       same process, their control is dependent, i.e. one of them have effect over control of
       the other one, and their effect is in the same direction (both activates or both inhibits). 
       This interaction is undirected.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_INDEPENDENT_ANTI</span>
    </td>
    <td BGCOLOR="#fd95a6" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Edge is drawn if the first and second entities have control over the
        same process, their control is independent, i.e. they act without affecting each
        other's activity, and their effect is in different directions (one of them activates,
        the other inhibits.  This interaction is undirected.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_INDEPENDENT_SIMILAR</span>
    </td>
    <td BGCOLOR="#92d050" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
       Edge is drawn if the first and second entities have control over
       the same process, their control is independent, i.e. they act without affecting each
       other's activity, and their effect is in the same direction (both activates or both inhibits).
       This interaction is undirected.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">METABOLIC_CATALYSIS</span>
    </td>
    <td BGCOLOR="#00b0f0" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Edge is drawn if the first entity catalyses a reaction that either
        consumes or produces the second entity. More specifically, this rule
        will find an interaction between two entities A and B if and only
        if A controls a conversion which B participates and appears only on
        the left or right side of the conversion but not both.  This interaction is directed.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">STATE_CHANGE</span>
    </td>
    <td BGCOLOR="#0070c0" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
       Edge is drawn if the first entity catalyses a reaction that either
       consumes or produces the second entity. More specifically, this rule
       will find an interaction between two entities A and B if and only
       if A controls a conversion which B participates and appears both on
       the left or right side of the conversion. This interaction is directed.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">REACTS_WITH</span>
    </td>
    <td BGCOLOR="#ccc1da" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Edge is drawn if both A and B participates in a conversion as
        substrates or products. Controllers are not included. This interaction is
        undirected.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">INTERACTS_WITH</span>
    </td>
    <td BGCOLOR="#7030a0" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Edge is drawn if both A and B participates in an interaction as
        participants. Controllers are not included. This interaction is undirected.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">SEQUENTIAL_CATALYSIS</span>
    </td>
    <td BGCOLOR="#7f7f7f" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
       Edge is drawn if A and B catalyzes two conversions that are connected
       via a common molecule, and where potentially that common substrate
       is produced by the former and consumed by the latter.
       This interaction is directed.
        </span>
    </td>
 </tr>
</table>