<h2>Visual Legend</h2>
<table cellpadding="3" cellspacing="3">
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER>
        <h3>Entity</h3>
    </td>
    <td VALIGN=CENTER>
        <h3>Visual Shape</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">Physical Entities, such as proteins,
            small molecules, complexes, etc.</FONT>
    </td>
    <td VALIGN=TOP>
        <img alt="Ellipse Shape"
             src="http://cbio.mskcc.org/cytoscape/plugins/biopax/images/ellipse.jpg">
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">Interaction Entities, such as
            biochemical reactions, catalysis, etc.</FONT>
    </td>
    <td VALIGN=TOP>
        <img alt="Square Shape"
             src="http://cbio.mskcc.org/cytoscape/plugins/biopax/images/square.jpg">
    </td>
</tr>
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER>
        <h3>Edge Type</h3>
    </td>
    <td VALIGN=CENTER>
        <h3>Arrow Shape</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">Inhibition</FONT>
    </td>
    <td VALIGN=TOP>
        <img alt="Black inhibition arrow type"
             src="http://cbio.mskcc.org/cytoscape/plugins/biopax/images/BLACK_T.jpg">
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">Containment, e.g. a complex can
            contain one or more proteins.</FONT>
    </td>
    <td VALIGN=TOP>
        <img alt="Black ciricle arrow type"
             src="http://cbio.mskcc.org/cytoscape/plugins/biopax/images/BLACK_CIRCLE.jpg">
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">All other edge types, e.g. activation,
            left, right, etc.</FONT>
    </td>
    <td VALIGN=TOP>
        <img alt="Black arrow type"
             src="http://cbio.mskcc.org/cytoscape/plugins/biopax/images/BLACK_DELTA.jpg">
    </td>
</tr>
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER COLSPAN=2>
        <h3>Labels for Physical Entities</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP colspan=2>
        <FONT FACE="ARIAL">All physical entities will be labeled as follows:</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP colspan=2>
        <FONT FACE="ARIAL">[NAME] [-CHEMICAL MODIFICATION ABBR] [(CELLULAR LOCATION ABBR)]</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP colspan=2>
        <FONT FACE="ARIAL">where [CHEMICAL MODIFICATION ABBR] and [CELLULAR LOCATION ABBR]
            are one of the abbreviations described below.</FONT>
    </td>
</tr>
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER colspan=2>
        <h3>Examples</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF Phosphorylated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF-P</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF Phosphorylated, in the cytoplasm</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MITF-P (CP)</FONT>
    </td>
</tr>
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER colspan=2>
        <h3>Abbreviations for Chemical Modifications</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">acetylated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">A</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">glycosylated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">G</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">phosphorylated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">P</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">proteolytic cleavage</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">PCS</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">sumoylated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">S</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">ubiquitinated</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">U</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">[All others]</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">No Abbreviation provided</FONT>
    </td>
</tr>
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER COLSPAN=2>
        <h3>Abbreviations for Cellular Locations</h3>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">centrosome</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">CE</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">cytoplasm</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">CY</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">endoplasmic reticulum</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">ER</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">endosome</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">EN</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">extracellular matrix</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">EM</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">golgi apparatus</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">GA</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">mitochondrion</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">MI</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">nucleoplasm</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">NP</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">nucleus</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">NU</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">plasma membrane</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">PM</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">ribosome</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">RI</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">transmembrane</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">TM</FONT>
    </td>
</tr>
<tr>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">[All others]</FONT>
    </td>
    <td VALIGN=TOP>
        <FONT FACE="ARIAL">No Abbreviation provided</FONT>
    </td>
</tr>
</table>