$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
}


.network {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  //background: radial-gradient(circle farthest-corner at center center, #afafaf 1%, #575852 100%);
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}